<sw-post date="2024/10/08" keywords="" title="Ocf 0.9.0" topics="release">
<p>
Release 0.9.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>compatible with ocaml 5.3.0,</li>
<li>fix error message ("msg" was printed instead of the message).</li>
</ul>
</sw-post>
