<sw-post date="2015/09/28" keywords="" title="Ocf 0.4.0" topics="release">
<p>
Release 0.4.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>fix: handle change in attribute location for records in ocaml 4.02.2,</li>
<li>configure script does not require camlp4 (which was not used) </li>
</ul>
</sw-post>
