<sw-post date="2016/05/03" keywords="" title="Ocf 0.5.0" topics="release">
<p>
Release 0.5.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to OCaml 4.03.0</li>
</ul>
</sw-post>
