<sw-post date="2021/05/10" keywords="" title="Ocf 0.6.0" topics="release">
<p>
Release 0.6.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to OCaml 4.12.0</li>
<li>checkocaml.ml script handles version number modifiers</li>
<li>Ocf.to_arg: fix doc string</li>
<li>fix META file so that ocf.ppx has a version</li>
</ul>
</sw-post>
