<sw-post date="2015/06/18" keywords="" title="Ocf 0.2.0" topics="release">
<p>
Release 0.2.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>(ppx) fix: do not build empty value declarations,</li>
<li>add <refdoc id="val-set" name="Ocf.set"/>,</li>
<li>add <refdoc mod="Ocf/Wrapper" id="val-of_ok_error" name="Ocf.Wrapper.of_ok_error"/>.</li>
</ul>
</sw-post>
