<sw-post date="2021/05/31" keywords="" title="Ocf 0.7.0" topics="release">
<p>
Release 0.7.0 of Ocf is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>add <ml>fail_if_not_exist</ml> parameter to
<refdoc id="val-from_file" name="Ocf.from_file"/> (default is <ml>false</ml>).</li>
</ul>
</sw-post>
