<sw-page navbar-download="active"
title="Download and installation"
with-contents="true"
>
<frama-release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://framagit.org/zoggy/ocf/-/archive/&lt;version/&gt;/ocf-&lt;version/&gt;.tar.gz"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</frama-release>

<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://zoggy.frama.io/ocf/releases/ocf-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release>

<contents>
<prepare-toc depth="2">
<toc/>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use <ext-a href="http://opam.ocaml.org">OPAM</ext-a>.
Install Opam, then, as a regular user, fetch and install an OCaml version and install
Ocf.
The whole can be done with the following opam commands:
</p>
<command-line>
$ opam init --compiler=5.2.0
$ opam update
$ opam install ocf
</command-line>
<p>You can also install the preprocessor package:</p>
<command-line>
$ opam install ocf_ppx
</command-line>
</section>

<section id="deps" title="Dependencies">
<p>
To build Ocf, you will need:
</p>
<ul>
<li><ext-a href="http://caml.inria.fr/">OCaml &gt;= 4.12.0</ext-a>,</li>
<li><ext-a href="http://mjambon.com/yojson.html">Yojson &gt;= 1.7</ext-a>,</li>
<li><ext-a href="https://github.com/ocaml-ppx/ppxlib/">ppxlib &gt;= 0.23.0</ext-a>.</li>
</ul>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<command-line>$ git clone https://framgit.org/zoggy/ocf.git</command-line>

<p>Or pick one of the releases:</p>
<ul>
<release version="0.9.0"/>
<frama-release version="0.8.0"/>
<frama-release version="0.7.0"/>
<frama-release version="0.6.0"/>
<frama-release version="0.5.0"/>
<frama-release version="0.4.0"/>
<frama-release version="0.3.0"/>
<frama-release version="0.2.0"/>
<frama-release version="0.1.0"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>Just type</p>
<command-line>$ make install</command-line>
<p>
This will install the <code>ocf</code> package.
</p>
</subsection>
</section>

</prepare-toc>
</contents>
</sw-page>