<sw-page main_="true"
navbar-home="active"
stog:rss-length="10"
stog:section-counter="false"
stog:site-description=""
stog:site-email="you 'AT' yoursite 'DOT' net"
stog:site-url="https://zoggy.frama.io/ocf/"
stog:subsection-counter="false"
title="Ocf"
stog:use="software"
with-contents="true">
<stog:ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></stog:ml>
<stog:oc error-exc="true">
<ocaml-eval defer_="1" toplevel="true" error-exc="&lt;error-exc/&gt;">
<contents/></ocaml-eval>
</stog:oc>

<stog:refdoc mod="Ocf" id="" name="">
<a href="&lt;site-url/&gt;/refdoc/ocf/&lt;mod/&gt;/index.html&lt;if id=&quot;&quot;&gt;&lt;dummy_/&gt;&lt;dummy_&gt;#&lt;id/&gt;&lt;/dummy_&gt;&lt;/if&gt;"><if name=""><contents/><ml><name/></ml></if></a></stog:refdoc>
<contents>
<section>
<p>
Ocf is an OCaml library to read and write configuration options
in JSON syntax, typically to read configuration files.
</p>
<p>
Development is hosted on <ext-a href="http://framagit.org/zoggy/ocf/">Framagit</ext-a>.
</p>
</section>

<section title="License">
<p>Ocf is released under the
<ext-a href="http://www.gnu.org/licenses/lgpl.html">LGPL v3</ext-a>.</p>
</section>

<section title="Author and contact">
<p>
<ext-a href="http://pauillac.inria.fr/~guesdon/">Maxence Guesdon</ext-a>
<tt>&lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</tt></p>
</section>
</contents>
</sw-page>
